:root {
    /** https://coolors.co/2e294e-633359-973c64-ed4a4a-2e2e3a-f5e2c8-33465b-18212b-0b1015-03b5aa */
    /* Background and Foreground */
    --background: #0B1015;
    --foreground: #F5E2C8;

    /* Borders & Accents */
    --border-fg: #33465B;
    --link-fg: #03B5AA;

    /* Navbar */
    --navbar-bg: #11121a;
    --navbar-border-fg: #1A1C29;
    --navbar-brand-fg: #ED4A4A;

    /* Alerts */
    --alert-info-o-bg: #18212B;
    --alert-info-e-bg: #33465B;
    --alert-important-o-bg: #633359;
    --alert-important-e-bg: #973C64;

    /* Article Titles */
    --article-title-s-fg: #ED4A4A;
    --article-title-e-fg: #F8961E;
    --article-tag-fg: #03B5AA;

    /* Code */
    --code-border-fg: #2E2E3A;
    --code-bg: #070A0D;

    /* Search */
    --search-bg: #18212B;

    /* Other */
    --border-size: 1px;
}

/* Fonts */
@font-face {
    src: url("../fonts/JetBrainsMonoNerdFont-Medium.ttf");
    font-family: "monospace";
}

@font-face {
    src: url("../fonts/BricolageGrotesque_48pt-Regular.ttf");
    font-family: "display";
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url("../fonts/BricolageGrotesque_48pt-Bold.ttf");
    font-family: "display";
    font-weight: bold;
    font-style: normal;
}

@font-face {
    src: url("../fonts/Bitcount-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf");
    font-family: "brand";
    font-weight: 400;
    font-style: normal;
}

/* Body */
html, body {
    height: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "display", sans-serif;
}

a,
a:active,
a:visited {
    color: var(--link-fg);
}

a:hover {
    color: var(--link-fg);
}

h1,
h2,
h3,
h4 {
    color: var(--foreground);
}

code,
kbd,
pre,
samp {
    font-family: "monospace", monospace;
}

hr {
    border-color: var(--border-fg);
    border-width: 0.5px;
}

/* Navbar */
.navbar-dark {
    background-color: var(--navbar-bg);
    border-bottom: var(--border-size) solid var(--navbar-border-fg);
}

.navbar-brand {
    color: var(--navbar-brand-fg) !important;
    font-family: "brand", monospace;
    font-weight: lighter;
    font-size: 1.7rem;
}

.navbar-dark .nav-link {
    color: var(--foreground) !important;
    font-family: "display", sans-serif;
}

/* Footer */
.footer {
    background-color: var(--navbar-bg);
    border-top: var(--border-size) solid var(--navbar-border-fg);
}

.footer .copyright-2 svg {
    fill: var(--foreground);
}

.footer .git-status {
    border-left: var(--border-size) solid var(--border-fg);
    border-right: var(--border-size) solid var(--border-fg);
    font-family: "monospace", monospace;

    svg {
        fill: var(--foreground);
    }
}

.footer .links a svg {
    fill: var(--foreground);
}

/* Badge */
.badge {
    font-family: "monospace", monospace;
}

/* Modal */
.modal-content {
    background-color: var(--background);
    border: var(--border-size) solid var(--border-fg);
}

.modal-content .modal-header {
    border-bottom: var(--border-size) solid var(--border-fg);
}

/* Content */
.main-content {
    border-right: var(--border-size) solid transparent;
    border-image: linear-gradient(to bottom, transparent, var(--border-fg), transparent) 1 100%;
}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 20px;
}

.sidebar h5 {
    color: var(--foreground);
    margin-bottom: 15px;
}

.sidebar ul li a {
    display: block;
}

.sidebar ul li a i {
    color: var(--link-fg);
}

.sidebar .project-item {
    display: block;
}

.project-percentage {
    font-family: "monospace", monospace;
    color: var(--link-fg);
    float: right;
}

/* Search */
#search-box button {
    color: var(--foreground) !important;
    background-color: var(--search-bg);
}

#search {
    background-color: var(--search-bg);
    color: var(--foreground);
    font-family: "monospace", monospace;
}

#search::placeholder {
    color: var(--border-fg);
}

/* Article */
.article-title a {
    color: var(--article-title-s-fg);
    background: linear-gradient(45deg, var(--article-title-s-fg), var(--article-title-e-fg));
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article-tag {
    color: var(--article-tag-fg);
    font-family: "monospace", monospace;
}

/* Alert */
.alert pre {
    padding: 10px;
}

.alert-info {
    background-color: var(--alert-info-o-bg);
    color: var(--foreground);
    background: repeating-linear-gradient(45deg,
            var(--alert-info-o-bg),
            var(--alert-info-o-bg) 20px,
            var(--alert-info-e-bg) 20px,
            var(--alert-info-e-bg) 40px);
}

.alert-important {
    background-color: var(--alert-important-o-bg);
    color: var(--foreground);
    background: repeating-linear-gradient(45deg,
            var(--alert-important-o-bg),
            var(--alert-important-o-bg) 20px,
            var(--alert-important-e-bg) 20px,
            var(--alert-important-e-bg) 40px);
}

/* Code */
.code {
    background-color: var(--code-bg);
    overflow: hidden;
    border: var(--border-size) solid var(--code-border-fg);
    overflow: auto;
}

.code pre {
    padding: 10px;
    line-height: 20px;
    font-size: medium;
    margin: 0;
}

.code pre table {
    width: 100%;
}

.code pre table tbody tr td {
    padding: 0;
}

.code pre mark {
    color: var(--foreground);
    display: block;
}

/** Line numbers. */
.code pre table tbody tr td:first-child {
    border-right: var(--border-size) solid var(--border-fg);
    padding-right: 10px;
    text-align: right;
    color: var(--border-fg);
    width: 30px;
}

/** Code lines. */
.code pre table tbody tr td:nth-child(2) {
    padding-left: 10px;
}

.code blockquote pre {
    border: var(--border-size) solid var(--code-border-fg);
}

.code .title {
    color: var(--border-fg);
}

/* Image */
.img-fluid {
    border: var(--border-size) solid var(--border-fg);
}
