<nav class="navbar navbar-expand-lg navbar-dark py-0 mb-1">
  <button type="button" class="navbar-toggler py-0 px-2" aria-controls="top-navbar" data-bs-target="#top-navbar" data-bs-toggle="collapse" aria-expanded="false" aria-label="toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="pt-2">
      <a href="{{ config.base_url }}" class="navbar-brand d-inline-flex border-1 py-0">
          <div class="d-inline px-2 navbar-brand-zero rounded-start-pill">#include<</div>
          <div class="d-inline px-2 navbar-brand-to">mort.h</div>
          <div class="d-inline px-2 navbar-brand-one rounded-end-pill">></div>
      </a>
  </h1>
  <div class="collapse navbar-collapse" id="top-navbar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
          <a class="nav-link" title="Home" href="{{ config.base_url }}">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" title="About" href="{{ config.base_url }}/dotfiles">Dotfiles</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" title="About" href="{{ config.base_url }}/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Github" href="https://github.com/mortymacs" target="_blank">Github</a>
      </li>
    </ul>
    <div class="d-flex" role="search">
        <div class="input-group" id="search-box">
            <input id="search" class="form-control form-control-sm focus-ring-dark rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button id="search-btn" type="button" class="btn btn-sm btn-success rounded-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#deddda}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            </button>
        </div>
    </div>
  </div>
</nav>
