:root {
    /* Colors - dark mode */
    --color0-dark: #070A0D;  /* Body background. */
    --color1-dark: #0B1015;  /* Main background. */
    --color2-dark: #91473C;  /* Article part background. */
    --color3-dark: #4B4040;  /* Article title background. */
    --color4-dark: #F6F7EB;  /* Body foreground. */
    --color5-dark: #EB5E55;  /* Article tags background. */
    --color6-dark: #101820;  /* Quote [info] background. */
    --color7-dark: #1a1c29;  /* Border foreground. */
    --color8-dark: #1A0B26;  /* Quote [important] background */
    --color9-dark: #461E66;  /* Quote [important] border foreground. */
    --color10-dark: #0d141a; /* Modal and search box background. */
    --color11-dark: #1a1c29; /* Main border foreground. */
    --color12-dark: #393e41; /* Brand logo background. */
    --color13-dark: #e94f37; /* Brand logo background. */
    --color14-dark: #F6F7EB; /* Article title foreground. */

    /* Colors - light mode */
    --color0-light: #F6F7EB;  /* Body background. */
    --color1-light: #F6F7EB;  /* Main background. */
    --color2-light: #91473C;  /* Article part background. */
    --color3-light: #9A7AA0;  /* Article title background. */
    --color4-light: #101820;  /* Body foreground. */
    --color5-light: #EB5E55;  /* Article tags background. */
    --color6-light: #101820;  /* Quote [info] background. */
    --color7-light: #E94F37;  /* Border foreground. */
    --color8-light: #1A0B26;  /* Quote [important] background */
    --color9-light: #461E66;  /* Quote [important] border foreground. */
    --color10-light: #0d141a; /* Modal and search box background. */
    --color11-light: #ede0d4; /* Main border foreground. */
    --color12-light: #393e41; /* Brand logo background. */
    --color13-light: #e94f37; /* Brand logo background. */
    --color14-light: #F6F7EB; /* Article title foreground. */

    /* Colors - default */
    --color0: var(--color0-dark);
    --color1: var(--color1-dark);
    --color2: var(--color2-dark);
    --color3: var(--color3-dark);
    --color4: var(--color4-dark);
    --color5: var(--color5-dark);
    --color6: var(--color6-dark);
    --color7: var(--color7-dark);
    --color8: var(--color8-dark);
    --color9: var(--color9-dark);
    --color10: var(--color10-dark);
    --color11: var(--color11-dark);
    --color12: var(--color12-dark);
    --color13: var(--color13-dark);
    --color14: var(--color14-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color0: var(--color0-dark);
        --color1: var(--color1-dark);
        --color2: var(--color2-dark);
        --color3: var(--color3-dark);
        --color4: var(--color4-dark);
        --color5: var(--color5-dark);
        --color6: var(--color6-dark);
        --color7: var(--color7-dark);
        --color8: var(--color8-dark);
        --color9: var(--color9-dark);
        --color10: var(--color10-dark);
        --color11: var(--color11-dark);
        --color12: var(--color12-dark);
        --color13: var(--color13-dark);
        --color14: var(--color14-dark);
    }
}

:root {
    /* Border. */
    --border-size: 1px;
    --border-color: var(--color11);

    /* Body. */
    --body-background: var(--color1);
    --body-foreground: var(--color4);

    /* Narbar. */
    --navbar-font: 'monospace';
    --navbar-background: var(--color1);
    --navbar-foreground: var(--color4);
    --navbar-border-color: var(--color7);
    --navbar-icon-foreground: var(--color4);
    --brand-color: var(--color6);
    --brand-font: 'monospace';
    --brand-color1: var(--color12);
    --brand-color2: var(--color13);

    /* Footer. */
    --footer-font: 'display';

    /* Arcticle. */
    --article-title-text-background: var(--color3);
    --article-title-text-foreground: var(--color14);
    --article-title-section-background: var(--color2);
    --article-title-section-foreground: var(--color14);
    --article-title-font: 'display';
    --article-tag-foreground: var(--color5);
    --article-body-font: 'display';
    --article-tag-font: 'display';

    /* Search */
    --search-input-background: var(--color10);
    --search-input-foreground: var(--color4);
    --search-input-placeholder: var(--color7);
    --search-button-background: var(--color7);
    --search-input-border-color: var(--color7);

    /* Modal */
    --modal-panel-background: var(--color10);
    --modal-panel-border: var(--color7);

    /* Code. */
    --mono-font: 'monospace';
    --code-border-color: var(--color3);
}

/* Fonts */
@font-face {
    /* Display */
    src: url("../fonts/Lexend-VariableFont_wght.ttf");
    font-family: 'display';
}

@font-face {
    /* Mono */
    src: url("../fonts/DMMono-Medium.ttf");
    font-family: 'monospace';
    font-style: normal;
    font-weight: normal;
}

/* Body */
body {
    background: var(--color0);
}

a,
a:active,
a:visited {
    color: var(--body-foreground);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: var(--color2);
}

a:hover {
    color: var(--body-foreground);
}

hr {
    color: var(--color4);
}

/* Main */
#main {
    background: var(--body-background);
    color: var(--body-foreground);
    font-family: var(--article-body-font), sans-serif;
    font-size: medium;
    font-weight: normal;
    border: 1px solid var(--border-color);
}

/* Navbar */
.navbar svg {
    fill: var(--navbar-icon-foreground);
    height: 1.2em;
}

.navbar-dark {
    background-color: var(--navbar-background) !important;
    border-bottom: var(--border-size) solid var(--navbar-border-color);
}

.navbar-dark .nav-link {
    color: var(--navbar-foreground) !important;
    font-family: var(--navbar-font), monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: normal;
}

.navbar-brand {
    color: var(--brand-color) !important;
    font-family: var(--brand-font), monospace;
}

.navbar-brand-zero {
    background: var(--brand-color1);
    color: var(--color4);
}

.navbar-brand-to {
    background: var(--brand-color2);
    color: var(--color4);
}

.navbar-brand-one {
    background: var(--brand-color1);
    color: var(--color4);
}

/* Footer */
.footer {
    border-top: var(--border-size) solid var(--navbar-border-color);
    font-family: var(--footer-font), monospace;
}

/* Badge */
.badge {
    font-family: var(--mono-font), monospace;
}

/* Modal */
.modal-content {
    background-color: var(--modal-panel-background);
    border: var(--border-size) solid var(--modal-panel-border);
}

.modal-content .modal-header {
    border-bottom: var(--border-size) solid var(--modal-panel-border);
}

/* Search */
#search-box input,
#search-box button {
    border: var(--border-size) solid var(--search-input-border-color);
    outline: none;
    box-shadow: none;
}

#search {
    background-color: var(--search-input-background);
    color: var(--search-input-foreground);
    font-family: var(--mono-font), monospace;
}

#search::placeholder {
    color: var(--search-input-placeholder);
}

#search-btn {
    background-color: var(--search-button-background);
}

/* Article */
.article-title,
h1,
h2,
h3 {
    color: var(--article-title-text-foreground);
    text-decoration: none;
    font-family: var(--article-title-font), sans-serif;
    font-weight: 400;
    font-size: inherit;
    text-transform: uppercase;
}

.article-title>.article-title-text {
    background-color: var(--article-title-text-background);
}

.article-title>.article-title-section {
    background-color: var(--article-title-section-background);
    color: var(--article-title-section-foreground);
}

.article-body p {
    font-family: var(--article-body-font), sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.article-tag {
    color: var(--article-tag-foreground);
    font-family: var(--article-tag-font), sans-serif;
    font-weight: normal;
}

.article-toc {}

/* Blockquote */
blockquote {
    padding-left: 5px;
    line-height: 2;
}

blockquote.info {
    background: var(--color6);
    border-left: var(--border-size) solid var(--color7);
}

blockquote.important {
    background: var(--color8);
    border-left: var(--border-size) solid var(--color9);
}

/* Code */
code,
kbd,
pre,
samp {
    font-family: var(--mono-font), monospace;
    font-size: 15px;
}

pre {
    border: var(--border-size) solid var(--code-border-color);
    padding: 10px;
    line-height: 20px;
}

pre table {
    width: 100%;
}

pre mark {
    color: var(--color13);
    display: block;
}

/** Line numbers. */
pre table tbody tr td:first-child {
    border-right: 1px solid var(--color7);
    padding-right: 10px;
    text-align: right;
    color: var(--color14);
    width: 30px;
}

/** Code lines. */
pre table tbody tr td:nth-child(2) {
    padding-left: 10px;
}

/* Image */
.img-fluid {
    border: var(--border-size) solid var(--color7);
}
