:root {
    /* Colors - dark mode */
    --color0-0: #d9ed92;
    /* Logo foreground. */
    --color0-1: #101820;
    /* Logo background. */
    --color1: #070A0D;
    /* Body background. */
    --color2: #ffffff;
    /* Text foreground. */
    --color3: #52b69a;
    /* Title foreground. */
    --color4: #76c893;
    /* Tags foreground. */
    --color5-0: #231942;
    /* Note [info] background. */
    --color5-1: #241e46;
    /* Note [important] background. */
    --color6-0: #34a0a4;
    /* Border foreground. */
    --color6-1: #3d405b;
    /* Fade border foreground. */
    --color7: #495057;
    /* Fade text foreground. */
    --border-size: 2px;
}

/* Fonts */
@font-face {
    src: url("../fonts/JetBrainsMono-Regular.woff2");
    font-family: 'monospace';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url("../fonts/JetBrainsMono-Italic.woff2");
    font-family: 'monospace';
    font-weight: normal;
    font-style: italic;
}

@font-face {
    src: url("../fonts/JetBrainsMono-Bold.woff2");
    font-family: 'monospace';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    src: url("../fonts/JetBrainsMono-BoldItalic.woff2");
    font-family: 'monospace';
    font-weight: bold;
    font-style: italic;
}

/* Body */
body {
    background: var(--color1);
    color: var(--color2);
    font-family: 'monospace', monospace;
    font-size: large;
    font-weight: normal;
}

a,
a:active,
a:visited {
    color: var(--color2);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: var(--color2);
}

a:hover {
    color: var(--color2);
}

hr {
    color: var(--color6);
}

/* Navbar */
.navbar-dark {
    background-color: var(--color1) !important;
    border-bottom: var(--border-size) dashed var(--color6-0);
}

.navbar-dark .nav-link {
    color: var(--color2) !important;
    font-family: 'monospace', monospace;
    font-weight: bold;
    font-size: normal;
}

.navbar-brand {
    color: var(--color0-0) !important;
    background: var(--color0-1);
    font-family: 'monospace', monospace;
}

/* Footer */
.footer {
    border-top: var(--border-size) dashed var(--color6-0);
    font-family: 'monospace', monospace;
}

/* Badge */
.badge {
    font-family: 'monospace', monospace;
}

/* Modal */
.modal-content {
    background-color: var(--color1);
    border: var(--border-size) dashed var(--color6-0);
}

.modal-content .modal-header {
    border-bottom: var(--border-size) dashed var(--color6-0);
}

/* Search */
#search-box input {
    border: none;
    border-bottom: var(--border-size) dashed var(--color6-1);
    outline: none;
    box-shadow: none;
}

#search-box button {
    border: none;
    color: var(--color3) !important;
}

#search {
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'monospace', monospace;
}

#search::placeholder {
    color: var(--color7);
}

#search-btn {
    background-color: var(--color1);
}

/* Article */
.article-title a {
    color: var(--color3);
    text-decoration: none;
}

.article-tag {
    color: var(--color4);
    font-family: 'monospace', monospace;
}

/* Blockquote */
blockquote {
    padding-left: 5px;
    line-height: 2;
}

blockquote.info {
    background: var(--color5-0);
}

blockquote.important {
    background: var(--color5-1);
}

/* Code */
code,
kbd,
pre,
samp {
    font-family: 'monospace', monospace;
    font-size: 17px;
}

pre {
    border: var(--border-size) dashed var(--color6-1);
    padding: 10px;
    line-height: 20px;
}

pre table {
    width: 100%;
}

pre mark {
    color: var(--color3);
    display: block;
}

/** Line numbers. */
pre table tbody tr td:first-child {
    border-right: 1px dashed var(--color6-1);
    padding-right: 10px;
    text-align: right;
    color: var(--color7);
    width: 30px;
}

/** Code lines. */
pre table tbody tr td:nth-child(2) {
    padding-left: 10px;
}

/* Image */
.img-fluid {
    border: var(--border-size) dashed var(--color7);
}
