<!DOCTYPE html>
<html class="h-100" lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ .Site.Title }} - {{ block "title" . }}Home{{ end }}</title>

        <!-- Page meta -->
        <meta name="description" content="{{ block "description" . }}{{ .Site.Params.description | default "Home" }}{{ end }}">
        <meta name="author" content="{{ .Site.Params.author }}">

        {{ partial "head.html" . }}
    </head>
    <body class="fs-5 d-flex flex-column">
        {{ partial "navbar.html" . }}

        <div class="d-flex flex-column container flex-grow-1 p-3" id="main">
            <div class="flex-grow-1">
                <div class="row">
                    <div class="main-content py-2">
                        {{ block "main" . }}{{ end }}
                    </div>
                    <!-- <div class="col-md-9 col-lg-10 main-content py-2"> -->
                    <!--     {{ block "main" . }}{{ end }} -->
                    <!-- </div> -->
                    <!-- <div class="col-md-3 col-lg-2"> -->
                    <!--     {{ partial "sidebar.html" . }} -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <footer class="footer py-1 mt-auto fs-6">
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
