<div class="d-flex">
    <div class="p-1 px-2 copyright-1">
        &copy;Morteza NourelahiAlamdari. All rights reserved.
    </div>
    <div class="p-1 px-2 flex-fill text-end copyright-2">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="link-light link-underline-light" target="_blank"><i class="fa-solid fa-scale-balanced"></i> CC BY-SA 4.0</a>
    </div>
    <div class="p-1 px-2 text-end git-status">
        <a href="https://github.com/mortymacs/mortymacs"class="link-light link-underline-light" title="Git" target="_blank">
            <i class="fa-solid fa-code-branch"></i>origin/main
        </a>
    </div>
    <div class="p-1 px-2 text-end links">
        <a class="px-1 link-info" title="Github" href="https://github.com/mortymacs" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a class="px-1 link-info" title="LinkedIn" href="https://www.linkedin.com/in/mortymacs/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="px-1 link-info" title="RSS" href="{{ "rss.xml" | absURL }}" target="_blank"><i class="fa-solid fa-square-rss"></i></a>
        <a class="px-1 link-info" title="Sitemap" href="{{ "sitemap.xml" | absURL }}" target="_blank"><i class="fa-solid fa-sitemap"></i></a>
    </div>
</div>
