<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ "img/favicon.png" | relURL }}">

<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/awesomefont.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/awesomefont.solid.min.css" | relURL }}">

<!-- Social networks -->
<meta property="og:image" content="{{ "img/logo.png" | absURL }}">
<meta property="og:image:type" content="image/png">

<!-- Javascript -->
<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
