{%- extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section }}{% endblock %}
{% block body %}
{% for page in section.pages %}
<div class="mb-3">
  <div>
    <a href="{{ page.permalink }}">
      <h4 class="article-title m-0 p-0 d-inline-flex">
        <label class="article-title-text px-2 py-1">{{ page.title }}</label>
        {% if page.extra.part %}
        <label class="article-title-section px-2 py-1 my-0">Part {{ page.extra.part }}</label>
        {% endif %}
      </h4>
    </a>
    <div>
        <strong>
            <small class="fst-italic">{{ page.date | date(format="%A, %b %e, %Y") }}</small>
        </strong>
    </div>
    <div class="article-body">
      {{ page.summary | safe }}
    </div>
  </div>
</div>
{% else %}
{{ section.content | safe }}
{% endfor %}

{% endblock %}
